/*
		  Available Fonts from google fonts api
     font-family: 'Poiret One', cursive;
		 font-family: 'Lobster', cursive;
		 font-family: 'Amatic SC', cursive;
*/

* {
	box-sizing: border-box;
}

h1 {
	text-align: center;  /*Centers text*/
	font-family: 'Raleway',sans-serif;
	color: white;
}

h2 {
	text-align: center;
	font-family: 'Raleway',sans-serif;
}

p {
	font-family: 'Raleway',sans-serif;
	padding: 2%;
	font-size: 2em;
}

ul {
	list-style-type: disc;
	list-style-position: inside;
}

/*
													Custom Classes
*/
.main {
	width: 100%;
	float: left;
	background: #5FA1FF;
	padding-bottom: 1em;
	padding-top: 1em;
}

.main-content {
	padding-left: 5%;
	padding-right: 5%;
}

.content-section {
	border-radius: 50%;
	padding-top:50px;
	padding-bottom:50px;
}

.credits{
	font-family: 'Raleway',sans-serif;
	font-size:20px;
	text-align: center;
}

.credits p {
	padding : 0px;
}

.list {
	font-family: 'Raleway',sans-serif;
	font-size: 2em;
}

.nested-list {
	padding-left: 15px;
	list-style-type: circle;
}

.list-link {
	color: #00C5D1;
	font-family: 'Raleway',sans-serif;
	font-size: 20px;
}

.icons {
	width:100%;
	padding-top:10px;
	padding-bottom:10px;

}

.icon-container {
	float: left;
	display: inline;
	width:25%;
	text-align: center;
}

.icon-link {
	width:80px;
	height:80px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.my-pic {
	display: block;
	width: 40%;
	height: auto;
	margin-top:50px;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}

.custom-header {
	width: 100%;
	display: block;
}

.fa-custom {
	color: black;
}
.fa-custom:hover {
	color: #FFAE52;
}

.icon-spinner {
	/*visibility: hidden; */
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:0px;
	height:0px;
}

.google-chart {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

.resume-content {
	background-color: #FDFDFD;
	border-radius: 10px;
}

.col-sm-8.resume-content:hover {
	background-color: rgb(1,6,44);
	color: white;
}

.mail-link {
	color:black;
}

.mail-link:hover {
	color: rgb(232,75,129);
	text-decoration: none;
}

.phone-number {
	color: rgb(0,0,0);
}

.phone-number:hover {
	color: rgb(232,75,129);
}

.phone-number:visited {
	color: rgb(232,75,129);
}

/* ----------------------------------------------------------------------------- *
													Custom Id's
*/

