/* All style should go in this document. */

/*Available Fonts from google fonts api
     font-family: 'Poiret One', cursive;
		 font-family: 'Lobster', cursive;
		 font-family: 'Amatic SC', cursive;
*/

	/*includes elements  padding and border in total width and height, the * indicates this affects all elements*/
* {
	box-sizing: border-box;
}
/* ----------------------------------------------------------------------------- *
													Custom css for standard html tags
*/

h1 {
	text-align: center;  /*Centers text*/
	font-family: 'Lobster', cursive;
	color: white;
}

h2 {
	text-align: center;
	font-family: 'Amatic SC', cursive;
}

h3 {
	text-align: center;
	font-family: 'Amatic SC', cursive;
	color: white;
	font-size: 30px;
	padding: 0px
}

p {
	font-family: 'Amatic SC',cursive;
	padding: 2%;
	font-size: 25px;
}

/* ----------------------------------------------------------------------------- *
													Custom Classes
*/

.main {
	width: 60%;
	float: left;
	min-height:3000px; /*This is required for jquery color change on scroll*/
}

.right-bar {
	width: 20%;
	float: left;
}

.left-bar {
	width: 20%;
  float: left;
}

.credits {
	font-family: 'Amatic SC',cursive;
	font-size:20px;
}

.list {
	font-family: 'Amatic SC',cursive;
	font-size: 25px;
}

.list-link {
	color: rgb(0,197,209);
	font-family: 'Amatic SC',cursive;
	font-size: 20px;
}

.list-link-li {
	list-style-type: none;
}

.icon-link {
	padding:0px;
}

/* ----------------------------------------------------------------------------- *
													Custom Id's
*/

#main-background {
	background: rgb(0,197,209);  /* Initiates color for jquery color scroll */
}






